numpy==1.26.4
transformers==4.46.3
bibtexparser==2.0.0b8
networkx==3.3
colorama==0.4.6
gradio==5.9.1
torch==2.5.1
peft==0.14.0
langdetect==1.0.9
bitsandbytes==0.45.0
wandb==0.19.1
arxiv_latex_cleaner==1.0.8
rouge==1.0.1
bert_score==0.3.13
nltk==3.9.1
openai==1.63.0
scikit-learn==1.6.1
pandas==2.2.3